*, *:before, *:after {
    box-sizing: border-box;
}
  
.dark-background {
    background: #3b434b;
    text-align: center;
}

/* 往下開始nav */

.navbar{
    height: 90px;
} 
  
.container{
    width: 1140px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    line-height: 90px; 
    width: 140px;
}

.logo img{
    width: 140px;
}

.navtop {
    float: right;
    text-align: left;
    line-height: 80px;  
}

.navtop-link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding-right: 15px;
}

.navtop-link:hover{
    /* 當滑鼠經過時，字顏色改變 */
    color: rgb(202, 199, 199);  
}

.flag{
    padding-right: 15px;
}

.flag img{
    vertical-align: middle;
    width: 25px;
}

.navtop-btn{
    color: #fff;
    font-size: 14px;
    font-weight:lighter;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 6px 25px;
    text-decoration: none;
    margin-right: 8px;
}

.navtop-btn:hover{
    /* 當滑鼠經過時，背景顏色改變 */
    background: #00bbcc;  
    border: 1px solid #00bbcc;
}
/* 往下開始main site-container01 */

.site-container01 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 390px;
    padding-left: 15px;
    padding-right: 15px;
}

.all-plans{
    color: #fff;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    display: block;
    line-height: 100px;
    padding-top: 100px;
}

.try30days{
    padding-bottom: 20px;
    text-align: center;
    color: #adadad;
    font-size: 26px;
    font-weight: lighter;
}

.trynow-btn-outer{
    text-align: center;
    padding-top: 30px;
}

.trynow-btn{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    background-color: #00bbcc;
    border: 1px solid #00bbcc;
    padding: 6px 36px;
    border-radius: 50px;
}

.trynow-btn:hover{
    background-color: #3b434b;
    border: 1px solid #fff;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    padding: 6px 36px;
    border-radius: 50px;
}
